<div class="container">
  <p class="text-center" style="margin-top:10px"><%= image_tag("nyt-logo.png") %></p>
  <% if current_user.try(:salesforce_producer_id).nil? %>
    <p style="background-color:#FFFACD;padding:15px" id="producer_notification">Please wait while the system fetches your Opportunities. This is a one-time event. Once the system is updated you will be automatically redirected to the Opportunities page. In the meantime have a look at today's top news.</p>
  <% end %>
  <p class="text-center" id="news_notice" style="display:none;background-color:#f4d7dc;padding:15px"></p>
    <!-- Top Stories -->
    <%= render :partial => 'nytimes_stories' %>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $("#producer_notification").pulsate({reach:50,speed:2500,repeat:10});
    
    var user_salesforce_producer_id = '<%= escape_javascript current_user.salesforce_producer_id.to_s %>'
    console.log("salesforce producer id is " + user_salesforce_producer_id);

    if(user_salesforce_producer_id === ""){
      setTimeout(function(){
        var user_id = '<%= escape_javascript current_user.id.to_s %>';
        var user_email = '<%= escape_javascript current_user.email.to_s %>';

        $.ajax({
          type: 'PUT',
          url: "/users/" + user_id + "/fetch_producer_id",
          data: {email: user_email}
        });
        return true
      }, 5000)
    } else {
      return false;
    }
  })
</script>